/*WEDDING HEADER */
.met_header {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 20vh;
    background-image: url(../images/mainimage3.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: whitesmoke;
}

.logo img {
    width: 200px;
    height: auto;
    transition: 0.8s;
}

.logo img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.navbar {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.navlinks{
    display: flex;
    align-items: baseline;
    padding: 2em;
    gap: 3rem;
    text-decoration: none;
   
 }

 .navlinks a {
    font-family: 'Chillax', sans-serif;
    text-decoration: none;

 }

 .navlink {
    text-decoration: none;
    color:aliceblue ;
    font-weight: 400;
    transition: 0.3s;
 }

 .navlink:hover {
    color: #C2B280;
    transform: scale(1.2);
    transition: 0.5s;
 }

 .navevents p{
    font-size: 20px;
    color: #ffffff;
    word-spacing: 0px;
    letter-spacing: 1px;

    border-radius: 200px;
    border: none;
    background-color:  #1e170acc;
    font-family: 'Chillax', sans-serif;
    
}
 
 .booking_home {
    padding: 20px;
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 100px;
    border: none;
    position: relative;
    background:  #1e170acc;
    transition: 0.1s;
    align-items: center;
    justify-content: center;

 }


 /*MEETING TITLE*/

 .meeting_head{
    margin-top: 50px;
 
}

.meeting_title{
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
    margin-bottom: 100px;
    margin-top: -40px;
    font-family: 'Chillax', sans-serif;
}

.meeting_title h1{
    width: 100%;
    padding: 20px;
    background-color:  #1e170acc;
   
}

/*About section - homepage*/

.metabout {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .metabout_image img{
    width: 600px;
    height: auto;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }

 .metabout_info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 2rem;
    background-color:#b1b1b149;
    margin-top: -100px;
}

 .metabout_text {
    width: 50%;
    text-align: justify;
 }

 .metabout_info p{
    font-size: 20px;
    font-family: 'Switzer', sans-serif;
    
 }


 .subsections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: -100px;
}

.subsection {
    text-align: center;
    width: 30%; 
    margin-bottom: 20px;
}

.subsection img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.subsection h3 {
    font-size: 24px;
    color: #333; 
    margin: 10px 0;
    font-family: 'Chillax', sans-serif;
}

.subsection p {
    font-size: 16px;
    color: #666;
    font-family: 'Switzer', sans-serif; 
}

.subsection:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

.rest_menu{
    text-align: center;
    width: 70%;
    margin-top: 30px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    background-color:  #1e170acc;
    padding: 10px 0;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Chillax', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


/*FOOTER*/

.footer {
    padding:50px 0;
    background-color: #0c0c0cf1;
    color:#ffffff;
}
  
.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer li {
    padding:0 10px;
}
  
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    font-family: 'Switzer', sans-serif; 

}
  
.footer ul a:hover {
    opacity:1;
}
  
.footer .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer .social > a:hover {
    opacity:0.9;
}
  
.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
    font-family: 'Switzer', sans-serif; 
}

/*End of Footer*/