* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul, ol{
    list-style-position: inside;
}

a{
    text-decoration: none;
    color: white;
}


/*HOME PAGE NAVBAR AND HEADER*/

.header {
    text-align: center;
    text-transform: uppercase;
    width: 100%; 
    height: 100vh; 
    background-image: url(../images/indexximage.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.navlinks{
    display: flex;
    align-items: baseline;
    padding: 2em;
    gap: 2rem;
    text-decoration: none;
   
 }

 .navlinks a {
    font-family: 'Chillax', sans-serif;
    text-decoration: none;

 }

 .navlink {
    text-decoration: none;
    color:aliceblue ;
    font-weight: 400;
    transition: 0.3s;
 }

 .navlink:hover {
    color: #C2B280;
    transform: scale(1.2);
    transition: 0.5s;
 }

 .booking_home {
    padding: 20px 30px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 100px;
    border: none;
    position: relative;
    background: #b5b5b577;
    transition: 0.1s;
    align-items: center;
    justify-content: center;

 }

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: whitesmoke;
}

.logo img {
    width: 200px;
    height: auto;
    transition: 0.8s;
}

.logo img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.fadeIn {
    animation: fadeIn 1s ease;
}

a {
    color: var(--colorwhite);
    text-decoration: none;
}

.section {
    margin-top: 5rem;
}




.button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;

}
 .button img{
    display: block;
    max-width: 100%;
    user-select: none;
  
 }


/*HOME PAGE NAVBAR AND HEADER ENDS*/

/* Mobile Menu */

.menu_slide{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    
}

.navlinks_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

/* Mobile Menu End */

 .hero_text {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .hero_text h1 {
    font-size: 5rem;
    font-weight: 1000;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
    font-family: 'Chillax', sans-serif;

 }
 
 /*About section - homepage*/

 .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .about_image img{
    width: 100%;
    height: auto;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }

 .about_info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 2rem;
    background-color:#b1b1b149;
}

 .about_text {
    width: 50%;
    text-align: justify;
 }

 .about_info p{
    font-family: 'Switzer', sans-serif;
 }

 .about_info h1 {
    font-size: 20px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
 }

 .about_info h2 {
    font-size: 35px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Author', sans-serif;
}

/*dining section in homepage*/

.resturants {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
}

.resturants_image img {
    width:100%;
    height: auto;
    float: left;
}

.resturants_infor {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: right;
    gap: 4rem;
}

.resturants_infor h1 {
    font-size: 25px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
}

.resturants_text {
    width: 50%;
    text-align: justify;
    font-family: 'Switzer', sans-serif;
}

.resturants_text p{
    margin-bottom: 1rem;
    font-family: 'Switzer', sans-serif;
}

.resturants_list li {
    font-family: 'Author', sans-serif;
    font-size: 16px;
    margin-bottom: 1rem;
    
    
}

/*adventure section in homepage*/

.adventure {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
}
.adventure_image img {
    width: 100%;
    height: auto;
    float: left;
}

.adventure_infor {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: right;
    gap: 4rem;
    background-color:#b1b1b149;
}

.adventure_infor h1 {
    font-size: 25px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
}

.adventure_text {
    width: 50%;
    text-align: justify;
    font-family: 'Switzer', sans-serif;
}

.adventure_text p{
    font-family: 'Switzer', sans-serif;
    margin-bottom: 1rem;
}

.adventure_list p{
    font-family: 'Switzer', sans-serif;
    margin-bottom: 1rem;
}

.adventure_list li {
    font-family: 'Author', sans-serif;
    font-size: 16px;
    padding: auto;
    margin-bottom: 1rem;
}

.adventure_list h4 {
    font-size: 18px;
    font-style: bold;
    font-family: 'Author', sans-serif;
}

/*Rooms section in homepage starts*/

.rooms {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
}
.rooms_image img {
    width:100%;
    height: auto;
    float: left;
}

.rooms_infor {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: right;
    gap: 4rem;
}

.rooms_infor h1 {
    font-size: 25px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
}

.rooms_text {
    width: 50%;
    text-align: justify;
    font-family: 'Switzer', sans-serif;
}

.rooms_text p{
    font-family: 'Switzer', sans-serif;
    margin-bottom: 1rem;
}

.rooms_list p{
    font-family: 'Switzer', sans-serif;
    margin-bottom: 1rem;
}

.rooms_list li {
    font-family: 'Author', sans-serif;
    font-size: 16px;
    padding: auto;
    margin-bottom: 1rem;
}

.rooms_list h4 {
    font-size: 18px;
    font-style: bold;
    font-family: 'Author', sans-serif;
}


/*FOOTER*/

.footer {
    padding:50px 0;
    background-color: #0c0c0cf1;
    color:#ffffff;
}
  
.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer li {
    padding:0 10px;
}
  
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    font-family: 'Switzer', sans-serif; 

}
  
.footer ul a:hover {
    opacity:1;
}
  
.footer .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer .social > a:hover {
    opacity:0.9;
}
  
.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
    font-family: 'Switzer', sans-serif; 
}

/*End of Footer*/
/*End of Homepage*/

/*Branches Page*/

.branch_header {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100vh;
    background-image: url(../images/branchesheroimage.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    
}


.branch_hero_text {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .branch_hero_text h1 {
    font-size: 5rem;
    font-weight: 1000;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    margin-top: -20px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
    font-family: 'Chillax', sans-serif;
  
 }


 /*Srilankan Branch section*/

.sri_branches {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
    background-color: #b1b1b149;
}

.sri_branches_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.sri_branches_info h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
    
}

.sri_branches_info h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Author', sans-serif;
    margin-bottom: 0.5rem;

}

.sri_branches_info p{
    font-size: 16px;
    font-family: 'Switzer', sans-serif;
    padding: 0 80px;
    
}

.sri_branches_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;  
    margin-top: 1rem;
}

.sri_branches_img {
    width: 43%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sri_branches_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.sri_branches_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sri_branches_maps iframe{
    width: 100%;
    border: none;
}

 /*End of Srilankan Branch section*/

 /*Bangkok Branch section*/

.bang_branches {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
}

.bang_branches_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.bang_branches_info h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
    
}

.bang_branches_info h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Author', sans-serif;
    margin-bottom: 0.5rem;

}

.bang_branches_info p{
    font-size: 16px;
    font-family: 'Switzer', sans-serif;
    padding: 0 80px;
    
}

.bang_branches_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;  
    margin-top: 1rem;
}

.bang_branches_img {
    width: 43%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bang_branches_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.bang_branches_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bang_branches_maps iframe{
    width: 100%;
    border: none;
}
 /*End of Bangkok Branch section*/

/*Paris Branch section*/
.paris_branches {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
    background-color: #b1b1b149;
}

.paris_branches_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.paris_branches_info h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
    
}

.paris_branches_info h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Author', sans-serif;
    margin-bottom: 0.5rem;

}

.paris_branches_info p{
    font-size: 16px;
    font-family: 'Switzer', sans-serif;
    padding: 0 80px;
    
}

.paris_branches_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;  
    margin-top: 1rem;
}

.paris_branches_img {
    width: 43%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.paris_branches_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.paris_branches_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.paris_branches_maps iframe{
    width: 100%;
    border: none;
}

 /*End of Bangkok Branch section*/


/*TABLE STARTS*/
table{
    margin: 180px auto;
    box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px inset, rgb(0, 0, 0) 0px 18px 36px -18px inset;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    padding: 20px 40px;
}

.table thead tr th{
    background-color: #585858;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}

.table tbody tr td{
    background-color: #b1b1b149;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.table tfoot tr td{
    background-color: #585858;
    color: #ffffff;
    font-weight: 800;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    
}


/*End of Branchpage*/

 /*Adventure Page*/

.adventure_header {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100vh;
    background-image: url(../images/advenheroimg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    
}

 .ahero_text {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .ahero_text h1 {
    font-size: 5rem;
    line-height: 1.4;
    font-weight: 1000;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    margin-top: -20px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
    font-family: 'Chillax', sans-serif;
  
 }

.hr {
    border: 50px solid #000000;
    background-color: #000000;

 }
 

            /*Scuba section*/

 .scuba-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .scuba_image img{
    width: 30rem;
    height: auto;
    float: left;
}

 .scuba_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 4rem;
}

 .scuba_text {
    width: 50%;
    text-align: justify;
 }

 .scuba_info p{
    font-family: 'Switzer', sans-serif;
 }

 .scuba_info h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
 }

 .scuba_info h2 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Author', sans-serif;
}
.scuba_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.scuba_maps iframe{
    width: 100%;
    border: none;
}



/*WATER SPORT*/

.wsport-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .wsport_image img{
    width: 30rem;
    height: auto;
    float: left;
}

 .wsport_info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 4rem;
}

 .wsport_text {
    width: 50%;
    text-align: justify;
 }

 .wsport_info p{
    font-family: 'Switzer', sans-serif;
 }

 .wsport_info h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
 }

 .wsport_info h2 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Author', sans-serif;
}
.wsport_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.wsport_maps iframe{
    width: 100%;
    border: none;
}

/*Biking section*/

.biking-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .biking_image img{
    width: 30rem;
    height: auto;
    float: left;
}

 .biking_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 4rem;
}

 .biking_text {
    width: 50%;
    text-align: justify;
 }

 .biking_info p{
    font-family: 'Switzer', sans-serif;
 }

 .biking_info h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
 }

.biking_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.biking_maps iframe{
    width: 100%;
    border: none;
}

 /*HIKING SECTION*/

.hiking-adventures {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
 }

 .hiking_image img{
    width: 30rem;
    height: auto;
    float: left;
}


 .hiking_info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    float: right;
    gap: 4rem;
}

 .hiking_text {
    width: 50%;
    text-align: justify;
 }

 .hiking_info p{
    font-family: 'Switzer', sans-serif;
 }

 .hiking_info h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Author', sans-serif;
 }

 .hiking_info h2 {
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Author', sans-serif;
}

.hiking_maps{
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hiking_maps iframe{
    width: 100%;
    border: none;
}




/*Begining of resturat Page*/

.rest_header {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    background-image: url(../images/resturnant123.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    
}

.navbar_events{
    display: flex;
    width: 100%;
}

.navevents{
    width: 100%;
}

.navevents p{
    font-size: 20px;
    color: #ffffff;
    word-spacing: 0px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    border-radius: 200px;
    border: none;
    background-color:  #b5b5b553;
    font-family: 'Chillax', sans-serif;
    
}

.resturant_head{
    margin-top: 50px;
 
}

.resturant_title{
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
    margin-bottom: 100px;
    margin-top: -40px;
    font-family: 'Chillax', sans-serif;
}

.resturant_title h1{
    width: 100%;
    padding: 20px;
    background-color:  #0c0c0cf1;
   
}

.introduction {
    text-align: center;
    padding: 30px;
}

.introduction h2 {
    font-size: 30px;
    color: #333; 
}

.introduction p {
    font-size: 18px;
    color: #666; 
}
.subsections {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: -100px;
}

.subsection {
    text-align: center;
    width: 30%; 
    margin-bottom: 20px;
}

.subsection img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.subsection h3 {
    font-size: 24px;
    color: #333; 
    margin: 10px 0;
    font-family: 'Chillax', sans-serif;
}

.subsection p {
    font-size: 16px;
    color: #666;
    font-family: 'Switzer', sans-serif; 
}

.subsection:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

.rest_menu{
    text-align: center;
    width: 70%;
    margin-top: 30px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    background-color: #5a595978;
    padding: 10px 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 700;
    font-family: 'Chillax', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;

}


/*Booking Page*/

.booking_header {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 20vh;
    background-image: url(../images/booking_image.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
}

.booking_head{
    margin-top: 50px;
    width: 100%;
}

.booking_title{
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
    margin-bottom: 100px;
    margin-top: -40px;
    font-family: 'Chillax', sans-serif;
}

.booking_title h1{
    width: 100%;
    font-size: 50px;
    padding: 20px;
    background-color: #747474;
}

.book_personal{
    display: flex;
    justify-content: center;
    color: var(--colormetallicgold);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    border-radius: 5px;
}

.book_personal fieldset{
    width: 100%;
    height: 100%;
    border: none;
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book_personal legend{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #747474;
    font-size: 35px;
    font-weight: 750;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transform: translateY(-23px);
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -5px 0 30px 0;
}

.input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 13px;
    color: var(--color);
    font-weight: 400;
    background: rgb(255, 255, 255);
    transition: 0.4s;
}

.input-box input:hover{
    transform:translateX(1.5px);
    transition: 0.4s;
    font-size: 14px;
}

.input-box .details{
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.book_details{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
    width: 100%;
    border-radius: 5px;
}

.book_details fieldset{
    width: 100%;
    height: 100%;
    border: none;
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book_details legend{
    background-color: #747474;
    font-size: 35px;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transform: translateY(-25px);
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.book_details input{
    font-size: 13px;
}

.input-box select{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 13px;
    color: var(--color);
    font-weight: 400;
    background: rgb(255, 255, 255);
    transition: 0.4s;
}

.book_btn{
    margin: 40px 0 40px 0;
    align-items: center;
    text-align: center;
}

.book_btn input:hover{
    color: gold;
    background-color: #000000;
}

.book_btn input{
    cursor:pointer;
    color: var(--color);
    padding: 10px 60px;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    transition: 0.4s;
    border-radius: 2px;

}

.book_btn input:hover{
    transition: 0.4s;
}

/*Book Page End*/

@media (max-width: 830px)
{
    /* home page */

    .main_image h1{
        font-size: 5rem;
    }

    .navlinks{
        flex-wrap: wrap;
    }

    .about_text, .resturants_text, .adventure_text, .rooms_text{
        width: 80%;
    }

    .booking_home{
        padding: 10px 15px;
    }

    /* Restaurant page */

    .subsection{
        width: 100%;
    }
    

}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navlinks{
        justify-content: center;
    }

    .navigation {
        margin-top: 20px;
        text-align: center;
    }

    .navlink {
        display: block;
        margin: 10px 0;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        width: 150px; /* Adjust the size as needed */
    }
}

@media (max-width: 490px){
    .main_image h1{
        font-size: 3rem;
    }

    .navlink{
        font-size: 12px
    }

    .branch_main_image h1{
        font-size: 40px;
    } 
}
